@model vidosa.Models.ExternalLoginConfirmationViewModel

<div class="col-lg-4"></div>
<div class="col-lg-8">
    <p>this email(<u>@Model.Email</u>) already exist.</p>
    <p>forgot your password? please <a href="/Account/ResetPassword" title="Reset Password">click</a> to reset.</p>
</div>
<div class="col-lg-4"></div>