<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 form-container">
        <p>@ViewBag.ResetPasswordHeader</p>
        <div>
            @using (Ajax.BeginForm("ResetPassword", "Account", null,
                   new AjaxOptions()
                   {
                       HttpMethod="post",
                       InsertionMode=InsertionMode.Replace,
                       UpdateTargetId="reset-password"
                   },
                   new
                   {
                       @class="form-inline",
                       display="inline",
                       style="width:100%"
                   }))
            {
                <div class="form-group" style="width:98%;">
                    @Html.TextBox("firstname", null,
                      new
                      {
                          @class= "form-control",
                          style = "margin-bottom:3%;width:98%",
                          placeholder = "First Name"
                      })
                </div>
                <br />
                <div class="form-group" style="width:98%;">
                    @Html.TextBox("email", null,
                      new
                      {
                          @class= "form-control",
                          style = "margin-bottom:3%;width:98%;",
                          placeholder = "Email"
                      })
                </div>
                <p>@ViewBag.ResetPasswordMessage</p>
                <input type="submit" value="Reset Password" class="btn-primary" style="padding:3%;width:97%;margin-bottom:3%;background-color: orange;border: none;" />
            }
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
