@{
    ViewBag.Title = "About";
}
<div class="about-page">
    <div class="about-page-text">
        <img src="~/Images/monailakgotliso.jpg" />
        <h2>Monaila Kgotliso</h2>
        <p>Hi everybody and thanks for watching this video, My Name is Monaila Kgotliso AKA Stiga, I’m a web developer by profession and a Microsoft Certified web developer. I made this video as introduction for what I am looking to do and hoping that with your help by throwing some ideas and probably in the development of the project it will be successful.</p>
        <p>Ever since I was in college from 2010 to 2012 I have always had an idea of developing an application  that I can use to stream video on demand on the web specifically educational videos and I just never know where to start and how to start. I have made efforts to make something simple that I can judge from if my idea was worth it or not and by the way that was way before I knew about things like Netflix, youtube I only knew about youtube in 2012 during my last year in college and I was fascinated by it because I realised that actually someone is already doing this and he is very big, you ask yourself questions like how are you going to compete with people like this.</p>
        <p>I did a research and I realized that actually video on demand does not end to what youtube was doing at the time, for example the type of technology that youtube was using then has changed ernomously to a different thing because the type of technology used can dictate who will have an access to your service and that can open doors for the new entrance.</p>
        <p>Now the number of people using services like youtube and Netflix has increased but there are other traits that also validate my idea that it is valid and I have made this simple video on demand site as the beginning step to my success.</p>
        <p>All we will be doing for now is just promoting the site, we are going to be making programming courses, web development, javascript and jquery. To get a notification everytime we upload a new video please hit the orange subscribe button after you have entered your full name and email address that way we will be able to notify you everytime we have something new.</p>
        <p>Please note that for now our training courses will free of charge, because we are promoting ourselves. We are going to truly appreciate if you subscribe to the site.</p>
        <p>Thank you.</p>
    </div>    
</div>
